<h3>Currency exchange rates</h3>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>From</th>
                <th>To</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in exchangeRate | orderBy:item.related">
                <td>{{ $index + 1 }}</td>
                <td>{{ item.related }}</td>
                <td>{{ item.base }}</td>
                <td>{{ item.rate | currency:"":4 }}</td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</div>